
#mapwrap {
    margin-left: 19%;
    margin-top: 3%;
}
.row {
    margin-left: 8%;
    width: 150%;
}
.tag_building {
    display: block;
    margin-right: 20000px;

}
.col-4 {
    width: 400px;
    margin-bottom: 8px;
}
.card-header {
    font-size: 20px;
    font-weight: 700;
}
.card-body {
    width: 300px;
}
.btn:hover {
    transition-delay: 5ms;
    background-color: rgb(146, 240, 204);
    border-radius: 10px 10px 10px 10px;
}
.btn-primary {
    margin-left: 106px;
    background-color: #4d4d;
    border: none;
}

#move_section { 
    width: auto;
    margin-top: 5%;
    margin-left: 5%;
}

.btn {
    margin-top: 5px;
    font-weight: 500;
    padding: 5px;
    background-color: #4d4d;
    color: #FFFFFF;
    border: none;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
}
.modal-content {
    font-family: 'Noto Sans KR', sans-serif;
}

/* mystyle.css */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-contents-contents {
    width: 800px;
    float: right;
    display: inline;
}
tr, th, td {
    border: solid #888;
}
th, td {
    width: 200px;
    text-align: center;
}

table {
    margin-left: 20px;
    margin-bottom: 50px;
}